* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

}

.flex {
  display: flex;
}
.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(#000, #008000);
}

.welcome, .box-result {
  height: 100px;
  width: 100vw;
  background-image: radial-gradient(#000, #003399);
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 3px #999;
  font-size: 45px;
  line-height: 100px;
}
.button-container {
  justify-content: center;
  margin-top: 50px;
}
.button-style {
  height: 150px;
  width: 300px;
  border-radius: 10px;
  background-image: radial-gradient(#000, #9b111e);
  line-height: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #cda434;
  text-shadow: 3px 3px 3px #705335;
  box-shadow: 3px 3px 3px #111;
}

.button-style:hover {
  cursor: pointer;
  animation-name: bordi;
  animation-duration: 1s;
}

@keyframes bordi {
  0% {border: 3px solid transparent}
  5% {border: 3px solid #eb5234}
  15% {border: 3px solid #eb8f34}
  25% {border: 3px solid #ebab34}
  35% {border: 3px solid #ebc034}
  45% {border: 3px solid #ebd334}
  55% {border: 3px solid #e8eb34}
  65% {border: 3px solid #ebd334}
  75% {border: 3px solid #ebc034}
  85% {border: 3px solid #ebab34}
  95% {border: 3px solid #eb8f34}
  100% {border: 3px solid #eb5234}
}

.button-style:active {
  height: 145px;
  width: 295px;
  line-height: 145px;
  font-size: 25px;
  margin: 2.5px 0px;
}

.box-container {
  margin-top: 100px;
  justify-content: center;
}
.box {
  margin: 0px 30px;
  border-radius: 15px;
  height: 300px;
  width: 500px;
  box-shadow: 5px 5px 5px #000;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 3px #999;
  font-size: 45px;
  line-height: 300px

}

.user-box {
  background-image: radial-gradient(#000, #003399);
}
.pc-box {
  background-image: radial-gradient(#000, #ad0a0a);
}


.versus {
  width:300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
}
.versus > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 3px 10px 5px #000;
}

.box-result {
  position: absolute;
  bottom: 0px;
}
